<footer class="site-footer">
  <div class="container">
    <small class="block">
      <div class="block">
        <div class="twitter">
          Say hi on Twitter! <a href="https://twitter.com/{{ site.twitter_username }}">@{{ site.twitter_username }}</a>
        </div>
      </div>
      <div class="block">
        Created in Sweden {{ site.time | date: '%Y' }}
      </div>
      <div class="block">
        &lt;/&gt; 
      </div>
      <div class="block">
        I am available for for hire: development and consultation.
      </div>
    </small>
  </div>
</footer>
